<nav class="nav bar-dark badge-secondary">
    <div class ="navigation">
        <a class="nav-item nav-link" routerLink="/trackery" routerLinkActive='active'>Tracker</a>
        <a class="nav-item nav-link" routerLink="/ trackHome" routerLinkActive='active'>Home</a>
        <a class="nav-item nav-link" routerLink="/trackUser" routerLinkActive='active'>user</a>
        <a class="nav-item nav-link" routerLink="/Trackrepo" routerLinkActive='active'>repository</a>
        <a class="nav-item nav-link" routerLink="/track info" routerLinkActive='active'>About</a>
    </div>
</nav>
